body {
  margin: 0 auto;
  min-height: 100%;
  padding: 10%;
  padding-top: 2%;
}
img {
  opacity: 0.5;
}
div.img-0 {
  width: 517px;
  height: 779px;
}
div.img-1 {
  width: 520px;
  height: 388px;
}
div.test {
  transition: background-color 2000ms linear 0ms;
  -moz-transition: background-color 2000ms linear 0ms;
  -webkit-transition: background-color 2000ms linear 0ms;
  -o-transition: background-color 2000ms linear 0ms;
  background-color: #fc3;
}
div.test-trans {
  transition: background-color 2000ms linear 0ms;
  -moz-transition: background-color 2000ms linear 0ms;
  -webkit-transition: background-color 2000ms linear 0ms;
  -o-transition: background-color 2000ms linear 0ms;
  background-color: #f3c;
}
